<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Predictor</title>

    <style>
        #heading{
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }

        form{
            
            margin: auto;
            margin: 5vh;
        }
    </style>

</head>
<body>

    <div id="heading">
        <h1>Movie Predictor</h1>
    </div>
    <hr>


    <div>
        <form action="/submit" method="post">
            <label for="movie">Enter Your Movie</label>
            <input type="text" id="movie" name="movie">

            <input type="submit" value="GO">
        </form>
    </div>
    <hr>


    <div>

        {% if suggestions %}

        <h2>Movies Suggested for you :</h2>

        {% for i in suggestions %}
        {{ loop.index }}  {{ i }} <br>

        {% endfor %}
        {% endif %}
    </div>
    
</body>
</html>